.addTodo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 10px;

    .dropdown {
        font-family: "Caveat Variable", cursive;
        font-size: 14px;
        height: 25px;
    }

    .input {
        font-family: "Caveat Variable", cursive;
        font-size: 18px;
        height: 20px;
    }

    .addButton {
        border-radius: 5px;
        border: none;
        cursor: pointer;
        height: 27.5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}